@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;700&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

:root {
  --primary: #00f2ff;
  --secondary: #7000ff;
  --bg-dark: #0a0a0a;
  --bg-card: #111111;
  --text-main: #ffffff;
  --text-muted: #a1a1aa;

  font-family: 'Outfit', system-ui, sans-serif;
  line-height: 1.6;
  font-weight: 400;

  color-scheme: dark;
  color: var(--text-main);
  background-color: var(--bg-dark);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Space Grotesk', sans-serif;
  margin: 0;
  line-height: 1.1;
}

a {
  color: var(--primary);
  text-decoration: none;
  transition: opacity 0.3s ease;
}

a:hover {
  opacity: 0.8;
}

button {
  background-color: transparent;
  color: var(--text-main);
  border: 1px solid var(--text-muted);
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: all 0.25s;
  border-radius: 8px;
}